<!--Navbar start-->
  <!--Code from https://www.w3schools.com/bootstrap5/tryit.asp?filename=trybs_navbar&stacked-->
  <nav class="navbar navbar-expand-sm bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand " href="./index.html">
        <img src="../assets/badabing.svg" alt="Bada Bing Logo" width="250">
      </a>
      <ul class="navbar-nav">
        <li class="navitem">
          <a class="nav-link" href="./home">Home</a>
        </li>
        <li class="navitem">
          <a class="nav-link" href="./menu">Menu</a>
        </li>
        <li class="navitem">
          <a class="nav-link" href="./order">Order</a>
        </li>
        <li class="navitem">
          <a class="nav-link" href="./contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--Navbar end-->