<!--Page Contents Start-->
<div class="container-lg bg-light border border-success text-center min-vh-100">
    <div>
      <fieldset class="d-flex mt-5 flex-column">
        <div class="mx-auto">
        <legend class="pt-2">Get in contact with us:</legend>
        <label>Your First Name <input type="text"></label>
        <label>Your Last Name <input type="text"></label>
        <label>Your Email <input type="text"></label>
        <label>Your Phone Number <input type="text"></label>
      </div>
      </fieldset>
      <button onclick="" class="my-3">Submit</button>
    </div>

    <div class="my-5">
      <h6>Our Phone Number: (941) 445-5963</h6>
      <h6>Our Address: </h6>
      <address>
        1815 Tamiami Trl S,<br>
        Venice, FL, <br>
        United States, Florida<br>
        (941) 445-5963<br>
      </address>
    </div>
  </div>
  <!--Page Contents End-->
