<!--Page Contents Start-->
<div class="container-lg bg-light border border-success text-center">
    <h1>Welcome to Bada Bings Pizza & Pasta</h1>
    <p class="fs-5">We are a small family owned italian restaurant in Venice Florida.</p>
    <p class="fs-5">Visit for authentic italian food and New York Style Pizza.</p>
    <br>
    <p class="fs-5">Open Tue-Sat 11 AM-9PM, Sun 4PM-9PM</p>
    <p class="fs-5">Closed Monday</p>
    <br>
    <p class="fs-5">Phone Number: +1 (941) 445-5963</p>

    <p>Check out some of our reviews from <a href="https://www.tripadvisor.com/Restaurant_Review-g34705-d1519797-Reviews-Benny_s_Bada_Bing-Venice_Florida.html">Tripadvisor</a>:</p>
    <div class="container ">
      <div class="row">
        <div class="card col-6">
          <p>&#11088; &#11088; &#11088; &#11088; &#11088;</p>
          <h3>Happy Diner! - Cathy J</h3>
          <p>LOVE this place. Food is always delicious. Servings are HUGE. plan on left overs. Service is great. I really like that it is a hands on family operation.</p>
        </div>
        <div class="card col-6">
          <p>&#11088; &#11088; &#11088; &#11088; &#11088;</p>
          <h3>Best Italian food in Venice - Steve L</h3>
          <p>The Best! Down-to Earth. Just like sitting at your kitchen table. Friendly staff- like family. PLUS- best pizza in Florida.</p>
        </div>
        <div class="card col-6">
          <p>&#11088; &#11088; &#11088; &#11088; &#11088;</p>
          <h3>Garlic knots are absolutely - Joe M</h3>
          <p>Garlic knots are absolutely delicious. The spaghetti and meatballs was fantastic. Pizza made us think we were in 🐒NY.</p>
        </div>
        <div class="card col-6">
          <p>&#11088; &#11088; &#11088; &#11088; &#11088;</p>
          <h3>A real Italian restaurant. A hidden gem - Linda B</h3>
          <p>I've been to Bennys at least 5 time since I've been here in Venice. So good! Great great food and HUGE portions. Baked Ziti,calzones meatballs and spaghetti all is great and don't for get the knots! EXCELLENT. THANKS BENNY</p>
        </div>
      </div>
    </div>

  </div>
  <!--Page Contents End-->